/* =========================================
   1. VARIABLES & RESET
   ========================================= */
:root {
    /* Paleta de Colores Capibara */
    --c-bg-dark: #333333;       /* Gris Oscuro Fondo */
    --c-bg-card: #222222;       /* Fondo Tarjetas */
    --c-green-main: #85D13E;    /* Verde Principal */
    --c-green-light: #93DB46;
    --c-green-dark: #57B82B;
    --c-accent-purple: #4B0082; /* Morado Oscuro */
    --c-highlight: #FFD700;     /* Amarillo Brillante */
    --c-white: #FEFFFE;
    --c-black: #000000;

    /* Fuentes */
    --f-title: "Jersey 10", sans-serif;
    --f-body: "Roboto", sans-serif;

    /* Efectos */
    --shadow-retro: 3px 3px 0px var(--c-black);
    --shadow-neon: 0 0 10px rgba(133, 209, 62, 0.3);
    
    /* Premium Glassmorphism */
    --glass-bg: rgba(20, 20, 30, 0.45);
    --glass-border: 1px solid rgba(255, 255, 255, 0.1);
    --glass-blur: blur(16px);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--c-bg-dark);
    color: var(--c-white);
    font-family: var(--f-body);
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a { text-decoration: none; color: inherit; transition: 0.3s; }
ul { list-style: none; }

/* =========================================
   ANIMACIONES GLOBALES
   ========================================= */
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
