# --- Seguridad (Credenciales) ---
/config/db.php
.env
# .htaccess (Permitir para URLs amigables)

# --- Dependencias (Se instalan, no se suben) ---
/vendor/

# --- Sistema Operativo ---
.DS_Store
Thumbs.db

# --- Media (Opcional, si no quieres llenar el repo de imagenes) ---
# --- Media ---
/assets/uploads/*
!/assets/uploads/.htaccess
!/assets/uploads/index.html
!/assets/uploads/videos
/assets/uploads/videos/*
!/assets/uploads/videos/0321.mp4

.env
config/db.php
